@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background: rgb(29, 29, 29);
    max-width: 100vw;
    max-height: 100vh;
    overflow-y: hidden;
    display: grid;
}

.main{
    position: fixed;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 10vh auto;
    overflow-y: hidden;
}

.header{
    background: black;
    height: 100%;
    display: flex;
    color: rgb(227, 223, 255);
    justify-content: space-between;
    border-bottom: 2px solid rgb(132, 0, 255);
}

.commsicon{
    font-weight: 600;
    font-size: 30px;
    display: grid;
    place-items: center;
    padding-left: 40px;
}

.searchbar{
    padding-right: 40px;
    display: grid;
    place-items: center;
}

#searchbar{
    width: 20rem;
    height: 3rem;
    border-radius: 35px;
    border: 3px solid rgba(132, 0, 255, 0.5);
    background-color: rgba(32, 32, 32, 0.5);
    padding-left: 20px;
    font-size: 15px;
    color: white;
}

#searchbar::placeholder{
    font-size: 15px;
}

input:focus{
    outline-width: 0;
}

.body{
    display: grid;
    max-width: 100vw;
    grid-template-columns: 1fr 50vw 1fr;
    overflow-x: hidden;
}

.later{
    width: 100%;
    height: 100%;
    background: black;
}

.userscontainer{
    background: rgb(20, 20, 20);
}

.posts{
    width: 40vw;
    place-self: center;
    border: 1px solid rgb(132, 0, 255);
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}

.postscontainer{
    height: 100%;
}

.noposts{
    padding-left: 20px;
    padding-top: 20px;
    color: rgb(227, 223, 255);
    font-size: 20px;
}

.postheading{
    background: rgb(132, 0, 255);
    color: white;
    height: 50px;
    display: grid;
    align-items: center;
    border-bottom: 2px solid black;
}

.postheading span{
    padding-left: 30px;
    font-size: 30px;
    font-weight: 600;
}

.postsbody{
    display: flex;
    flex-direction: column-reverse;
}

.post{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: 100px 1fr;
    color: rgb(227, 223, 255);
    padding: 10px;
}

.postrightsection{
    display: grid;
    grid-template-rows: 60px 1fr;
}

.postimages{
    width: 90%;
    padding-top: 20px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.postimages img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.noimg{
    display: none;
}

.notext{
    display: none;
}

.imgs4 .pimage1{
    border-top-left-radius: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.imgs4 .pimage2{
    border-top-right-radius: 15px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.imgs4 .pimage3{
    border-bottom-left-radius: 15px;
    padding-right: 5px;
    padding-top: 5px;
}

.imgs4 .pimage4{
    border-bottom-right-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
}

.imgs3 .pimage1{
    grid-column: 1/2;
    grid-row: 1/3;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-right: 5px;
}

.imgs3 .pimage2{
    grid-column: 2/3;
    grid-row: 1/2;
    border-top-right-radius: 15px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.imgs3 .pimage3{
    grid-column: 2/3;
    grid-row: 2/3;
    border-bottom-right-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
}

.imgs2 .pimage1{
    grid-column: 1/2;
    grid-row: 1/3;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-right: 5px;
}

.imgs2 .pimage2{
    grid-column: 2/3;
    grid-row: 1/3;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 5px;
}

.imgs1 .pimage1{
    grid-column: 1/3;
    grid-row: 1/3;
    border-radius: 15px;
}

.timecreated{
    margin-top: 20px;
}

.users{
    border-left: 1px solid rgb(132, 0, 255);
    padding: 0 20px;
    padding-top: 20px;
}

.user{
    display: flex;
    margin-bottom: 20px;
    border: 1px solid white;
    align-items: center;
    color: white;
    background: rgba(32, 32, 32);
    position: relative;
    overflow-x: hidden;
    font-size: 13px;
    padding:5px 0 5px 15px;
    border-radius: 30px;
}

.user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-data{
    display: flex;
    flex-direction: column;
}

.followbutton{
    position: absolute;
    border: 2px solid rgba(132, 0, 255);
    padding: 10px;
    border-radius: 30px;
    right: 15px;
    background: rgb(41, 41, 41);
}

.postleftsection img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(132, 0, 255);
}

.posttag{
    font-size: 15px;
    color: rgb(255, 153, 0);
}

#posttext{
    padding-left: 5px;
    font-size: 17px;
}

#posttext::placeholder{
    font-size: 17px;
}

.profile-details{
    padding: 20px 10px 0 10px;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 70px 50px;
    color: rgb(227, 223, 255);
    width: 100%;
    border: 1px solid rgb(132, 0, 255);
}

.profileimg{
    grid-column: 1;
    grid-row: 1;
}

.minus-button{
    display: none;
}

.usersplus-button{
    display: none;
}

.profilename-tag{
    grid-column: 2/3;
    grid-row: 1;
    font-size: 20px;
}

.profileusername{
    font-weight: 600;
}

.profiletag{
    font-size: 15px;
}

.profileimg img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(132, 0, 255);
}

.followings{
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
    width: 100%;
}

.followings div{
    display: flex;
    place-items: center;
    width: 50%;
    justify-content: space-between;
    padding-left: 25px;
}

.followings div span{
    color: rgb(132, 0, 255);
    width: 50px;
    height: 100%;
    display: grid;
    place-items: center;
}

.add-post{
    width: 100%;
    height: auto;
    border: 1px solid rgb(132, 0, 255);
    padding: 20px 10px;
    color: rgb(227, 223, 255);
}

.add-post h3{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.add-post form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.add-post form textarea{
    width: 100%;
}

.addimages{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    margin-bottom: 20px;
}

input::-webkit-file-upload-button{
    visibility: hidden;
}

input::before{
    display: inline-block;
    border: 1px solid rgb(132, 0, 255);
    border-radius: 3px;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 10pt;  
    padding: 5px 8px;
    width: 89%;
    text-align: center;
    transition: 0.5s ease;
}

#image1::before{
    content: 'Image 1';
}

#image2::before{
    content: 'Image 2';
}

#image3::before{
    content: 'Image 3';
}

#image4::before{
    content: 'Image 4';
}

input:hover::before {
    background:rgb(132, 0, 255);
}

textarea{
    background: rgb(227, 223, 255);
    border: 2px solid rgb(132, 0, 255);
    margin-bottom: 20px;
}

.addpostbtn{
    background: transparent;
    color: rgb(227, 223, 255);
    border: 2px solid rgb(132, 0, 255);
    padding: 10px 0;
    transition: 0.5s ease;
    grid-column: 2;
    grid-row: 1;
}

.addpostbtn:hover{
    background: rgb(132, 0, 255);
}

.addimgpreviews{
    height: 90px;
    width: 100%;
    background: red;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.imgpreview{
    position: relative;
    background: rgb(20, 20, 20);
    border: 1px solid white;
    height: 90px;
}

.imgp1, .imgp2, .imgp3, .imgp4{
    width: 100%;
    height: 100%;
    object-fit: cover;
    visibility: hidden;
}

.imgp1.active, .imgp2.active, .imgp3.active, .imgp4.active{
    visibility: visible;
}

.removeimgicon{
    position: absolute;
    right: 10px;
    top: 7px;
}

.removeicon1, .removeicon2, .removeicon3, .removeicon4{
    visibility: hidden;
    color: rgb(227, 223, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.removeicon1.active, .removeicon2.active, .removeicon3.active, .removeicon4.active{
    visibility: visible;
}

.bottomsection{
    width: 90%;
    height: 50px;
    grid-column: 2/3;
    border-top: 1px solid rgb(132, 0, 255);
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    justify-content: flex-start;
}

.viewpost{
    color: rgb(227, 223, 255);
    padding: 6px 5px;
    place-items: center;
    border: 1px solid rgb(132, 0, 255);
    border-radius: 5px;
    background: rgb(41, 41, 41);
    margin-right: 20px;
    transition: 0.5s ease;
}

.likepost{
    color: rgb(227, 223, 255);
    padding: 6px 10px;
    place-items: center;
    border: 1px solid rgb(132, 0, 255);
    border-radius: 5px;
    background: rgb(41, 41, 41);
    margin-right: 20px;
    transition: 0.5s ease;
}

.retweetpost{
    color: rgb(227, 223, 255);
    padding: 6px 5px;
    place-items: center;
    border: 1px solid rgb(132, 0, 255);
    border-radius: 5px;
    background: rgb(41, 41, 41);
    margin-right: 20px;
    transition: 0.5s ease;
}

.viewpost:hover, .likepost:hover, .retweetpost:hover{
    background: rgb(132, 0, 255);
}

.postmodal{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    place-content: center;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    transition: 1s ease;
}

.postmodal.active{
    opacity: 1;
    pointer-events: inherit;
}

.modalpostcontainer{
    width: 550px;
    height: auto;
    background: black;
    overflow-y: scroll;
}

.closepostmodal{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 25px;
    color: rgb(227, 223, 255);
}

.addcomment{
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid rgb(227, 223, 255);
    background: rgb(20, 20, 20);
}

.addcommentheading{
    color: rgb(227, 223, 255);
    margin-bottom: 10px;
}

.addcommenttext{
    width: 100%;
    margin-bottom: 10px;
}

.addcommentbtn{
    background: rgb(41, 41, 41);
    padding: 5px 10px;
    border: 1px solid rgb(132, 0, 255);
    border-radius: 5px;
    color: rgb(227, 223, 255);
    transition: 0.5s ease;
}

.addcommentbtn:hover{
    background: rgb(132, 0, 255);
}

textarea:focus{
    outline-width: 0;
}

.likepost.liked{
    background: rgb(221, 48, 48);
}

.postcommentsheading{
    color: rgb(227, 223, 255);
    padding: 20px;
    background-color: rgb(20, 20, 20);
}

.postcommentsbody{
    color: rgb(227, 223, 255);
}

.nocomments{
    padding: 20px;
    background: rgb(29, 29, 29);
}

.postcomment{
    padding: 20px;
    width: 100%;
    display: grid;
    border-top: 1px solid rgb(227, 223, 255);
    border-bottom: 1px solid rgb(227, 223, 255);
    grid-template-columns: 100px 1fr;
    grid-template-rows: 60px 1fr;
    background-color: rgb(29, 29, 29);
}

.com-usericon{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
}

.com-usericon img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.com-username-tag{
    grid-column: 2/3;
    grid-row: 1/2;
    color: rgb(227, 223, 255);
}

.com-tag{
    font-size: 15px;
    color: rgb(255, 153, 0);
}

.com-text{
    grid-column: 2/3;
    grid-row: 2/3;
    color: rgb(227, 223, 255);
}

.followed{
    background:rgb(132, 0, 255);
}

.usermodal{
    height: 100vh;
    width: 100vw;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    place-content: center;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    transition: 1s ease;
}

.usermodal.active{
    opacity: 1;
    pointer-events: initial;
}

.modalusercontainer{
    width: 550px;
    height: auto;
    background: black;
    overflow-y: scroll;
}

.closeusermodal{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 25px;
    color: rgb(227, 223, 255);
}

.modaluser{
    display: grid;
    width: 100%;
    padding: 20px;
    height: auto;
    place-items: center;
    grid-template-columns: 60px 1fr 1fr;
    grid-template-rows: 50% auto 50%;
    background: rgb(29, 29, 29);
    color: rgb(227, 223, 255);
}

.modaluser-icon{
    height: 60px;
    width: 60px;
    grid-column: 1/2;
    grid-row: 1/2;
}

.modaluser-icon img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.modaluser-name-tag{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-right: 50px;
}

.modaluser-tag{
    color: rgb(255, 153, 0);
}

.modaluser-bio{
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100%;
}

.modaluser button{
    grid-column: 3/4;
    grid-row: 1/2;
    position: relative;
    width: 100px;
    color: rgb(227, 223, 255);
    place-self: end;
}

.follows{
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    color: rgb(227, 223, 255);
    place-self: center;
    place-items: center;
    padding: 30px;
}

.follows div span{
    padding: 20px;
    margin-left: 30px;
    color: rgb(132, 0, 255);
}

.profileblockbutton{
    display: none;
}